.cabecalho {
   background-color:#424E61;
   color: white;
   display: flex;
   justify-content:Ì£ space-around;
   align-items: center;
   padding: 24px 0;
}

   .cabecalho-imagem{
       width: 10%;
   }

   .cabecalho-lista-item{
      display: inline-block;
      margin: 0 16px;
      font-size: 16px;


      escola-imagem{
         width: 25%;

      
   

   
     
    










   



   


   


    
